.wrapper{
    width:400px; 
    border:0px solid black;
    text-align: center;
}

.wrapper input{
    width:300px; 
}
 
.wrapper button{
   width:300px;
   background-color: black;
   color:white;
}

.tasklist{
    border:0px solid blue;
    width:380px;
    display: flex;
    flex-direction: column;  
    text-align: left;
    padding-left:10px;
}

.crosslinetext { 
    width:200px;
    height:30px;
    color:blue; 
    text-decoration: line-through;
    border:0px solid yellow;
    margin:10px;
}

.normallinetext { 
    width:200px;
    height:30px;
    color:red; 
    text-decoration: none;
    border:0px solid red;
    margin:10px;
}

.tasklist .inputtxt{
    width:150px;
    margin:10px;
    border:1px solid black;
}

.tasklist .delete{
    width:80px;
    margin:10px;
    background-color: red;
    color:white;
    float:right;
}
 
.tasklist .update{
    width:80px;
    margin:10px;
    background-color: green;
    color:black;
    float:right;
}

.tasklist .checkbox{
    width:10px; 
    margin:10px;
}
